@font-face {
    font-family: 'DIN1451';
    src: url('./fonts/DINEngschriftStd.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DIN1451', sans-serif;
    image-rendering: pixelated;
    font-weight: 700;
    text-shadow: 0 0 20px rgba(134, 205, 134, 0.1);

    color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    width: 100%;
    background: #384533;
    overflow: hidden;
}

h {
    font-size: 50px;
    padding-left: 268px;
    color: white;
    font-weight: 500;
    box-shadow: 0 0 200px rgba(134, 205, 134, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #384533;
}

tr {
    box-shadow: 0 0 200px rgba(134, 205, 134, 0.1);
}

td {
    position: relative;
    font-size: 100px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: left;
}

#line {
    padding-left: 20px;
}

#display {
    text-align: right;
    padding-right: 40px;
}

.scroll-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    animation: scroll-message 5s linear infinite;
    display: inline-block; /* Ensures animation applies */
    max-width: 200px; /* Adjust as needed for your table layout */
}

@keyframes scroll-message {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

